<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move</title>
</head>
<body>
    <h1>Move binary file</h1>
    <form action = "http://localhost:5000/binaryfile/move" method="post">
        <p>Path: <input type="text" name="path" /></p>
        <p>New parent: <input type="text" name="new_parent" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
    <a href="/binaryfile">Back</a>
</body>
</html>